<div class="center-block">
    <div id="search-engine-bing" class="center-block">
        <a href="http://www.bing.com/">
            <img alt="Bing" src="content/images/bing2.png" border="0" class="center-block">
        </a>
        <form method="get" target="_blank" action="http://www.bing.com/search" class="center-block">
            <input name="cp" value="ISO-8859-1" type="hidden">
            <input name="FORM" value="FREEWS" type="hidden">
            <input name="q" size="61" type="text" class="center-block">
            <br/>
            <input value="Bing Pretraga" type="submit" class="center-block">
        </form>
    </div>
</div>
