<div class="center-block">
    <a href="http://www.google.com/ncr" class="center-block">
        <img alt="Google" src="content/images/google2.png" border="0" class="center-block">
    </a>
    <br>
    <form method="get" target="_blank" action="http://www.google.com/search" class="center-block">
        <input name="q" size="61" maxlength="255" value="" type="text" class="center-block">
        <br>
        <br>
        <input value="Google Pretraga" type="submit" class="center-block">
        <br>
    </form>
</div>
