<div data-ng-controller="AuthCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Login</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="inputEmail">username</label>
                <div class="controls">
                    <input type="text" id="username" placeholder="username" data-ng-model="login.username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" ng-model="login.password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="login()">Login</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>