<form class="navbar-form navbar-left" role="search" method="get" target="_blank" action="http://www.google.com/search" data-ng-controller="BookmarksCtrl">
    <span type="button" class="btn btn-default" style="cursor:none;">
        <img src="content/images/google2.png" style="height: 20px;" />
    </span>
    <div class="form-group form-inline">
        <input type="text" data-ng-model="searchTerm" tabindex="1" autofocus data-ng-change="broadcastSearchTerm()" class="form-control visible-xs hidden-sm hidden-md visible-lg" placeholder="Search" name="q" size="85" maxlength="255" value="" />
        <input type="text" data-ng-model="searchTerm" tabindex="1" autofocus data-ng-change="broadcastSearchTerm()" class="form-control hidden-xs hidden-sm hidden-lg" placeholder="Search" name="q" size="45" maxlength="255" value="" />
        <input type="text" data-ng-model="searchTerm" tabindex="1" autofocus data-ng-change="broadcastSearchTerm()" class="form-control hidden-xs hidden-md hidden-lg" placeholder="Search" name="q" size="20" maxlength="255" value="" />
    </div>
    <button type="submit" class="btn btn-default">
        traži!
    </button>
</form>
