@import url("smoothness/jquery-ui-1.8.22.custom.css");

div#search-engine {
    margin: 0 0 50px 0;
}

#columnsContainer {
    width: 100%;
}


    #columnsContainer > div {
        display: inline-block;
        vertical-align: top;
    }

        #columnsContainer > div:first-child, #columnsContainer > div:last-child {
            width: 190px;
        }

div#servis {
    width: 190px;
}



div#content {
    -ms-hyphens: auto;
    text-align: center;
    width: auto;
    margin:0 20px 0 20px;
}

    div#content > div {
        margin-left: auto;
        margin-right: auto;
        text-align: start;
    }

        div#content > div.fb-like {
            text-align: left;
        }

div.v-line {
    width: 0px;
    border-left: 1px solid black;
    display: block;
    float: left;
    clear: left;
    height: 100px;
}

div.link-group, .feed-item {
    vertical-align: top;
    display: inline-table;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ddd;
    padding: 0 10px;
    height:200px;
}


    div.link-group > ul {
        list-style-type: none;
        padding: 0 0 0 5px;
        width: 150px;
    }

        div.link-group > ul > li {
            display: block;
            clear: both;
        }

div#content a {
    text-decoration: none;
    color: black;
    line-height: 16px;
    font-weight: bold;
}

    div#content a:hover {
        color: #0200f5;
    }

div.link-group > ul > li > a > img {
    border: none;
    width: 16px;
    height: 16px;
}

div#fb-feed, div#links {
    padding: 20px 0;
}

    div#fb-feed ul {
        list-style-type: none;
        padding: 0 0 0 5px;
        text-align: start;
    }

        div#fb-feed ul li {
            width: 300px;
            padding: 10px;
            /*float:left;*/
            vertical-align: top;
        }

    div#fb-feed img {
        width: 100px;
        margin-right: 5px;
        float: left;
    }

    div#fb-feed .title {
        display: block;
        padding: 0 0 10px;
    }

    div#fb-feed .description {
        font-size: 12px;
        font-weight: normal;
        color: #222;
    }

body {
    font-family: Calibri;
}



.slides_container {
    width: 190px;
    height: 620px;
}

    .slides_container > div {
        width: 190px;
        height: 620px;
        display: block;
    }
