<div data-ng-controller="DashboardCtrl">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">meni</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/servis">
                <span class="btn btn-default"><img src="content/images/logo-mini.png" class="logo" /></span>
                Niccom
            </a>
        </div>
        <div class="nav-justified  collapse navbar-collapse">
            <div data-ng-include="'app/layout/widgets/nav-google-search.html'" class="center-block">
            </div>
            <ul class="nav navbar-nav navbar-right" data-ng-include="'app/layout/widgets/nav-weather.html'">
            </ul>
        </div>
    </div>
    <div class="collapse navbar-collapse" collapse="isCollapsed">
        <ul class="nav nav-justified navbar-nav nav-tabs nav-tabs-justified center-block">
            <li data-ng-class="{active:currentViewIs(menuItem)}" data-ng-repeat="menuItem in dashboard.menu" class="navbar-text">
                <a href="#/{{menuItem.name}}/{{menuItem.type}}">
                    <img data-ng-src="content/images/{{menuItem.icon}}" />
                    {{menuItem.title}}
                </a>
            </li>
        </ul>
    </div>
</div>
